:root {
  --mauve1: hsl(300, 20%, 99%);
  --mauve2: hsl(300, 7.7%, 97.5%);
  --mauve3: hsl(294, 5.5%, 95.3%);
  --mauve4: hsl(289, 4.7%, 93.3%);
  --mauve5: hsl(283, 4.4%, 91.3%);
  --mauve6: hsl(278, 4.1%, 89.1%);
  --mauve7: hsl(271, 3.9%, 86.3%);
  --mauve8: hsl(255, 3.7%, 78.8%);
  --mauve9: hsl(252, 4%, 57.3%);
  --mauve10: hsl(253, 3.5%, 53.5%);
  --mauve11: hsl(252, 4%, 44.8%);
  --mauve12: hsl(260, 25%, 11%);

  --mauveA1: hsla(300, 89.3%, 18.3%, 0.012);
  --mauveA2: hsla(300, 78.1%, 9%, 0.028);
  --mauveA3: hsla(300, 99.5%, 7.7%, 0.051);
  --mauveA4: hsla(270, 90.5%, 6.1%, 0.071);
  --mauveA5: hsla(270, 83%, 5.2%, 0.091);
  --mauveA6: hsla(300, 93.5%, 3.7%, 0.114);
  --mauveA7: hsla(270, 82.6%, 3.3%, 0.142);
  --mauveA8: hsla(255, 95.2%, 3.7%, 0.22);
  --mauveA9: hsla(255, 94.8%, 3.7%, 0.444);
  --mauveA10: hsla(253, 96.5%, 3.8%, 0.483);
  --mauveA11: hsla(247, 97.9%, 3.2%, 0.569);
  --mauveA12: hsla(261, 98.7%, 3%, 0.918);

  --plum1: hsl(292, 90%, 99.4%);
  --plum2: hsl(300, 100%, 98.6%);
  --plum3: hsl(299, 71.2%, 96.4%);
  --plum4: hsl(299, 62%, 93.8%);
  --plum5: hsl(298, 56.1%, 90.5%);
  --plum6: hsl(296, 51.3%, 85.8%);
  --plum7: hsl(295, 48.2%, 78.9%);
  --plum8: hsl(292, 47.7%, 70.8%);
  --plum9: hsl(292, 45%, 51%);
  --plum10: hsl(292, 50.2%, 46.9%);
  --plum11: hsl(292, 60%, 42.5%);
  --plum12: hsl(291, 66%, 14%);

  --blue1: hsl(206, 100%, 99.2%);
  --blue2: hsl(210, 100%, 98%);
  --blue3: hsl(209, 100%, 96.5%);
  --blue4: hsl(210, 98.8%, 94%);
  --blue5: hsl(209, 95%, 90.1%);
  --blue6: hsl(209, 81.2%, 84.5%);
  --blue7: hsl(208, 77.5%, 76.9%);
  --blue8: hsl(206, 81.9%, 65.3%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(208, 100%, 47.3%);
  --blue11: hsl(211, 100%, 43.2%);
  --blue12: hsl(211, 100%, 15%);

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-none: 0 0 #0000;

  --font-size-sm: clamp(1rem, 0.33vw + 0.87rem, 1.19rem);
  --font-size-md: clamp(1.2rem, 0.51vw + 1rem, 1.48rem);
  --font-size-lg: clamp(1.44rem, 0.74vw + 1.14rem, 1.86rem);
  --font-size-xl: clamp(1.73rem, 1.06vw + 1.31rem, 2.32rem);
  --font-size-2xl: clamp(2.07rem, 1.47vw + 1.48rem, 2.9rem);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--mauve1);
}

.header-1 {
  font-size: var(--font-size-2xl);
  font-weight: 900;
}

.header-2 {
  font-size: var(--font-size-xl);
  font-weight: 700;
}
.header-3 {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 0px;
  padding: 0.375rem 0.75rem;
  box-shadow: inset 0 0 0 1px var(--mauve7), var(--shadow-sm);
  appearance: none;
}

.form-control:focus {
  outline: 2px transparent;
  box-shadow: 0 0 0 2px var(--plum7), var(--shadow-sm);
}

.form-control::placeholder,
.form-control::-moz-placeholder {
  color: var(--mauve9);
}

@media screen and (min-width: 640px) {
  .form-control {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.btn {
  box-shadow: var(--shadow-sm);
  font-weight: 600;
  border-radius: 0.375rem;
  padding: 0.375rem 0.625rem;
  background-color: var(--mauve4);
  color: var(--mauve11);
}

.btn:active {
  box-shadow: var(--shadow-none);
  transform: translateY(1px);
}

.btn:focus-visible {
  outline: 2px solid var(--mauve7);
  outline-offset: 2px;
}

.btn--primary {
  background-color: var(--plum9);
  color: white;
}

.btn--primary:hover {
  background-color: var(--plum10);
}

.btn--secondary {
  background-color: var(--plum4);
  color: var(--plum11);
}

.btn--secondary:hover {
  background-color: var(--plum4);
}

.link {
  text-decoration: underline;
  color: var(--blue9);
}

.site-header {
  background-color: var(--mauveA2);
  backdrop-filter: blur(64px);
  color: var(--mauve9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  padding: 0.25rem 0px;
}

.site-header__nav {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  flex-shrink: 0;
  font-weight: 700;
  color: var(--plum9);
}

.site-header__search {
  flex: 1 1 25%;
  margin: 0rem 1rem;
}

.site-header__auth > * + * {
  margin-inline-start: 0.5rem;
}

.site-main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 3.75rem;
}

.site-main {
  flex: 1 1 0%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.site-main__content {
  flex: 1 1 0%;
}

.site-countdown__label {
  font-weight: 600;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.site-countdown__header {
  font-size: var(--font-size-lg);
}

.site-sidebar {
  flex: 0 0 15rem;
  padding: 0.75rem;
  background-color: var(--mauve2);
}

.site-sidebar > * + button {
  margin-bottom: 0.5rem;
}

.site-sidebar__title {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.site-meme-wrapper {
  z-index: 50;
  position: absolute;
  inset: 0px;
  backdrop-filter: blur(64px);
  display: none;
  overflow: hidden;
}

.site-meme-wrapper--visible {
  display: block;
  animation: enter 0.5s ease-in-out;
}

.site-meme-wrapper--leaving {
  display: block;
  animation: exit 0.5s ease-in-out;
}

.animate-detonate {
  animation: detonate 0.2s linear infinite;
}

@keyframes detonate {
  0% {
    transform: translate(-6rem, -9.3rem) rotate(-46deg);
  }
  50% {
    transform: translate(2rem, 1.3rem) rotate(26deg);
  }
  100% {
    transform: translate(0rem, 0rem) rotate(-6deg);
  }
}

@keyframes enter {
  from {
    transform: translateY(-100%);
  }
}

@keyframes exit {
  to {
    transform: translateY(-100%);
  }
}

.prose {
  max-width: 60ch;
  font-size: 1rem;
  line-height: 1.75;
}

@media screen and (min-width: 1024px) {
  .prose {
    font-size: 1.125rem;
    line-height: 1.7777778;
  }
}
